@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");

@font-face {
  font-family: FoundersGrotesk-Regular;
  src: url("../font/Founders_Grotesk/FoundersGrotesk-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}
section {
  padding: 50px 0;
}
.row {
  margin: 0;
}
h1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h4 {
  font-size: 28px;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
}

h5 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

h6 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.bg-light {
  width: 100%;
  /* background-color: #f6f6f4; */
  background: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

p {
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-family: FoundersGrotesk-Regular;
  font-weight: 100;
}

a {
  font-size: 18px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: FoundersGrotesk-Regular;
  font-weight: 100;
}

.btn {
  padding: 0;
  margin: 0;
  font-family: FoundersGrotesk-Regular;
}

.container {
  /* max-width: 1100px;  */
  padding: 0;
  overflow: hidden;
  /* padding: 0px 16px; */
}

.logo img {
  width: 100px;
}

ul.navbar-nav li a {
  color: #000;
  font-size: 20px;
  margin-left: 16px;
}

ul.navbar-nav li a:hover {
  color: #f5831f;
  font-weight: 400;
}

ul.navbar-nav li a.active {
  color: #f5831f !important;
}

.btn-off i {
  color: #000;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  padding: 15px;
  white-space: nowrap;
  margin-right: 20px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu li a {
  margin: 0px;
}

/* ************************************************************** */
/* +++++++++carousel+++++++++++++ */
.carousel-item {
  position: relative;
}

.caro-text {
  font-size: 90px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caro-text:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 15px;
  width: 300px;
  background-color: red;
}

.section-title nav a:hover {
  color: #d67b20;
  font-weight: 600;
}
.section-title nav a {
  color: #000000;
  font-weight: 600;
}
/* ++++++++++++Hero section++++++++++++ */
.hero-container {
  width: 90%;
  margin-top: 30px;
  background-image: url("../img/lamp.jpg");
  color: #ffffff;
  border-radius: 20px;
  position: relative;
  padding: 80px 50px;
}

.hero-content {
  padding: 40px;
  width: 50%;
}

.down-btn {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  bottom: 20px;
  /* top: 20px; */
  left: 50px;
}

.down-btn a {
  color: #ffffff;
  font-size: 30px;
}

.home-about_us-container {
  padding: 80px 50px;
  width: 90%;
  margin-top: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/sbg22.jpg") no-repeat top / cover;
  color: #ffffff;
  border-radius: 20px;
  position: relative;
}

.home-about_us-content {
  padding: 40px;
  width: 50%;
}

.home-ab-text-container {
  padding: 80px 50px;
  width: 90%;
  margin-top: 30px;
  background: #f6f6f4;
  color: #ffffff;
  border-radius: 20px;
  position: relative;
}

.home-ab-text-content {
  padding: 40px;
  /* width: 50%; */
  color: #000;
}

.home-ab-text-content-btn {
  position: relative;
  border: 2px solid #000;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  bottom: 20px;
  /* top: 20px; */
  left: 50px;
}

.down-btn a {
  color: #000;
  font-size: 30px;
}

.ab-right {
  display: flex;
  place-content: center;
  height: 400px;
}

.ab-right img {
  height: 100%;
}

.try-section {
  padding: 50px;
  background: #eee;
}

.sc-bg {
  position: sticky;
  top: 80px;
  height: 515px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/lamp.jpg") no-repeat center / cover;
  padding: 50px;
  border-radius: 30px;
  color: #fff;
  top: 50px;
  /* top: 180px; */
  scroll-snap-align: start;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 1px lightgrey;
}

.sc-bg p {
  bottom: 50px;
}

.sc-section {
  position: sticky;
  top: 100px;
  scroll-snap-align: start;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 1px lightgrey;
}

.sc-section {
  color: #000;
  background: #fff;
  box-shadow: 0px 0px 1px lightgrey;
}

.sc-section h4 {
  margin: 0px 0px 20px;
}

.sc-imag img {
  height: 450px;
  width: 100%;
  border-radius: 30px;
  float: right;
  object-fit: cover;
  background-size: cover;
}

.sc-details ul {
  margin-top: 30px;
}

.sc-details ul li {
  font-family: FoundersGrotesk-Regular;
  font-size: 18px;
}

.sc-details p {
  width: 50%;
  position: absolute;
  margin-top: 10px;
  font-size: 18px;
}

.blogs .item {
  border: 1px solid;
  border-radius: 20px;
  height: 250px;
  position: relative;
}

.blogs .item a {
  height: 100%;
  padding: 25px;
  color: #000;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blogs .item a:hover {
  cursor: pointer;
}

.blogs .item:hover {
  box-shadow: 0px 0px 5px #000 !important;
}

.blog-ft {
  border-top: 1px solid #b8b8b8;
  padding: 20px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.blog-ft a {
  text-decoration: none;
  color: #000;
}

.surity-container {
  padding: 50px 10px;
  /* width: 1700px;  */
}

.surity-section {
  background: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.surity-img {
  height: 64px;
  width: 64px;
  /* object-fit: cover; */
  /* margin-right: 20px; */
}

.surity-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* margin-right: 20px; */
}
.surity-portion:hover img {
  transform: scale(1.2, 1.2);
  transition: 0.5s ease all;
}
.surity-text {
  padding: 0px 0px;
}

.surity-text h3 {
  font-size: 30px;
}

.surity-text p {
  font-size: 18px;
}

/* +++++++++++++++footer++++++++++++++++++ */
.footer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-header img {
  width: 100px;
}

.footer-header .social-links {
  gap: 10px;
  align-items: center;
  margin: 0;
  color: #000;
}

.footer-header .social-links a {
  color: #000;
  font-size: 25px;
}

.ft-form {
  padding: 0px 20px;
}

.ft-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  padding: 20px 0px 5px;
}

.ft-input input {
  border: none;
  display: flex;
  text-align: left;
}

.list-group li {
  border-bottom: 1px solid #000;
  margin-left: 10px;
  padding-bottom: 5px;
}

/* **************About us Page**************** */
.ab-1-part img {
  width: 100%;
  border-radius: 20px;
  display: flex;
  position: relative;
  bottom: 0;
}

.ab-1-part p {
  display: flex;
  margin-bottom: 185px;
}

.ab-1-part-1 img {
  /* height: 100%; */
  /* width: 80%; */
  /* height: 700px; */
  border-radius: 20px;
}

.ab-counter-portion a {
  font-size: 60px;
  color: #000;
}

.ab-counter-portion h1 {
  font-size: 40px;
}

.ab-counter-portion p {
  font-size: 20px;
}

.scroll-img {
  width: 100%;
  height: 650px;
  background-image: url("../img/lamp.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
}

/* =====================================
            Bio section start
 ==================================== */
.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-image .bio-img {
  max-width: 80%;
  height: 100%;
  box-shadow: -2rem -2rem 0 0 #000;
  display: inline-block;
}

.bio-data-stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bio-stats {
  margin-bottom: 1rem;
}

.bio-progress-bar {
  width: 10 0%;
  height: 0.3rem;
  background: #212529;
  border-radius: 10rem;
  box-shadow: #0000;
  position: relative;
}

.bio-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  background: #f5831f;
  border-radius: 10rem;
}

.bio-progress-2::before {
  width: 99%;
}
.bio-progress-3::before {
  width: 90%;
}
.bio-progress-4::before {
  width: 70%;
}
.bio-progress-5::before {
  width: 50%;
}

/* .bio-progress-bar span {
  position: absolute;
  width: 4rem;
  height: 2rem;
  top: 1.8rem;
  left: 76%;
  background: #f5831f;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  outline: none;
} */

.bio-progress-2 span {
  left: 95%;
}
.bio-progress-3 span {
  left: 86%;
}
.bio-progress-4 span {
  left: 66%;
}
.bio-progress-5 span {
  left: 46%;
}
/* 
.bio-progress-bar span::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 0.8rem solid #f5831f;
  border-color: transparent;
  border-bottom-color: #f5831f;
  top: -1.6rem;
} */
